

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
       
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>   
       <style>
           table, th, td {
             border: 1px solid black;
           }
           table.center {
             margin-left: auto;
             margin-right: auto;
           }
           h1{
               text-align: center;
               color:blue;
                         }
           h2{
             text-align: center;
             color:black;
                       }             
           h3{
             text-align: center;
             margin-left:0px;
             color:green;
                       }

                       h4{
                        text-align: center;
                        margin-left:0px;
                        color:black;
                                  }

           a{
             text-align: center;
             color:red;
                       }  
           x{
             margin-left: 20px;
             color:red;
                       }                        
           </style>
        <title>About</title>   
    </head>
    <body>
       <!--------------------Start navbar------------------------>
    

        <nav class="navbar navbar-expand-lg" style="background-color: #FFA07A;font-color: #fff;">
          <!--nav class="navbar navbar-expand-lg bg-dark"-->
            <div class="container-fluid">
              <a class="navbar-brand"href="{% url 'qindex:home' %} ">Back</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                      
              
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                  
                    
                   
                </ul>
                </div>
            </div>
          </nav>
        <!--------------------End navbar------------------------>   

        <div id="name" style="word-spacing: 30px;">
          
            
            
        
        </div>  
        <section>
         
            <div id="q"align="center">
              <h3>    In the name of God, the Gracious, the Merciful.</h3><h3>

                1. When the sun is rolled up.</h3><h3>
                
                2. When the stars are dimmed.</h3><h3>
                
                3. When the mountains are set in motion.</h3><h3>
                
                4. When the relationships are suspended.</h3><h3>
                
                5. When the beasts are gathered.</h3><h3>
                
                6. When the oceans are set aflame.</h3><h3>
                
                7. When the souls are paired.</h3><h3>
                
                8. When the girl, buried alive, is asked:</h3><h3>
                
                9. For what crime was she killed?</h3><h3>
                
                10. When the records are made public.</h3><h3>
                
                11. When the sky is peeled away.</h3><h3>
                
                12. When the Fire is set ablaze.</h3><h3>
                
                13. When Paradise is brought near.</h3><h3>
                
                14. Each soul will know what it has readied.</h3><h3>
                
                15. I swear by the galaxies.</h3><h3>
                
                16. Precisely running their courses.</h3><h3>
                
                17. And by the night as it recedes.</h3><h3>
                
                18. And by the morn as it breathes.</h3><h3>
                
                19. This is the speech of a noble messenger.</h3><h3>
                
                20. Endowed with power, eminent with the Lord of the Throne.</h3><h3>
                
                21. Obeyed and honest.</h3><h3>
                
                22. Your friend is not possessed.</h3><h3>
                
                23. He saw him on the luminous horizon.</h3><h3>
                
                24. And He does not withhold knowledge of the Unseen.</h3><h3>
                
                25. And it is not the word of an accursed devil.</h3><h3>
                
                26. So where are you heading?</h3><h3>
                
                27. It is only a Reminder to all mankind.</h3><h3>
                
                28. To whoever of you wills to go straight.</h3><h3>
                
                29. But you cannot will, unless God wills—The Lord of the Worlds.  </h3>
               <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 
              <h3>      </h3> 

              <h3> ====================================================</h3> 
                  <h3>  Many time in my life         </h3> 
                  <h3> I have felt the need of collecting </h3> 
               <h3> all verses on a same topic in one place.</h3> 
            <h3> For instance , all verses on Salah in one place. </h3> 
            <h3> So that by one click I can find all those verses</h3>
            <h3> as a quick reference in the time of need</h3>
            <h3>In this site when you click on Salah button ,   </h3> 
            <h3>you will find all verses related to salah in one place.  </h3> 
            <h3>And so on. </h3>
            <br><br>
            <h4>“We believe in it; all is from our Lord.” </h4>
            <h6></h6>
            </div>
           
            <div id=""align="center">
                 
            </div>
                 <div id=""align="center">
                    <h6>Acknowledgement</h6>
                     <h6>Dr Baba Jahangir Ba Iman Al Sureswari</h6>
                    <h6>Justice Mr. Mohammad Habibur Rahman </h6>
                    <h6>Software Engineer Mr.Talal Inani  </h6>
                 </div>
            
        </section>
        
 <!--------------------Footer Start------------------------>

  <nav class="navbar navbar-expand-lg" style="background-color: #FF6666;">
    <!--nav class="navbar navbar-expand-lg bg-dark"-->
  
      <div class="container-fluid">
  <h5 class="text-center"> Developed by Soft Ray.</h5>
</div>
<div class="container-fluid">
  <h5 class="text-center">  <a class="nav-link active" href=""></a></h5>
</div>
<div class="container-fluid">
  <h5 class="text-center"> <a class="nav-link active" href="{% url 'qindex:contact' %}">Contact Us</a></h5>
    </div>
</nav>
<!--------------------Footer End------------------------>      
    
    </body>
</html>




