
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al Quran Topic List </title>
</head>
<body>
    <div id="name" style="word-spacing: 30px;">
        <a href="{% url 'home' %}">Home</a>
       
       </div>
    {% block content %}
    <form action="add" method=" GET"align="center">
            <div className="Report">
                {% csrf_token %}
                <h2 align="center">Al Quran Topic List</h2><br>
                
            <table border="1">
                    <tr>
                        <td>Topic_No</td>
                        <td>Topic Name</td>
                        <td>Topic Ref </td>
                        <td>Sura No</td>
                        <td>Sura Name</td>
                        <td>Verse No</td>
                       
                        
                    </tr>
                {% for top in top %}
                    <tr>
                        
                        
                        <td>{{top.topicno}}</td>
                        <td>{{top.tname}}</td>
                        <td>{{<a href="{% url'tlinfo/int<tref>' %}">{{top.tref}}}}</td></a>
                        <td>{{top.surano}}</td>
                        <td>{{top.suraname}}</td>
                        <td>{{top.versesno}}</td>



                    </tr>                      
                {% endfor %}
            </table>
            </form>
         {% endblock %}
            </div>
            
        <div>
           <a href="{% url 'home' %}">Home</a>
        </div>
        </div>
</body>
</html>